:root {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Palette variables, these are overwritten by the app during initialization */
  --base0: #111111;
  --base1: #2c2c2c;
  --base2: #484848;
  --base3: #676767;
  --base4: #888888;
  --base5: #a9a9a9;
  --base6: #cdcdcd;
  --base7: #f1f1f1;

  /* Semantic variables */
  --background: var(--base0);
  --surface: var(--base1);
  --content: var(--base7);
}

html, body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
}

input {
  margin: 0.2rem;
}

.input__small {
  width: 2rem;
}
