:root {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Palette variables, these are overwritten by the app during initialization */
  --base0: #111111;
  --base1: #2c2c2c;
  --base2: #484848;
  --base3: #676767;
  --base4: #888888;
  --base5: #a9a9a9;
  --base6: #cdcdcd;
  --base7: #f1f1f1;

  /* Semantic color variables */
  --background: var(--base0);
  --surface: var(--base1);
  --elevated: var(--base2);
  --content: var(--base7);

  /* Styling and layout variables */
  --border-radius: 0.5rem;
  --padding: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
}

.surface {
  background: var(--surface);
  color: var(--content);
  border-radius: var(--border-radius);
  padding: var(--padding);
}

.elevated {
  background: var(--elevated);
  border-radius: var(--border-radius);
  padding: var(--padding);
}

input {
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: var(--border-radius);

}

.input__small {
  width: 2rem;
}
